body {
  background-color: #FFFFFA;
  margin: 40px 20px 20px 20px;
  display: flex;
}

.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  height: auto;
  margin-top: 0;
}

.header {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  padding-top: 4.2em;
}

.content {
  flex-grow: 7;
  flex-shrink: 0;
  flex-basis: 100px;
}

.title {
  font-size: 2em;
  font-weight: 600;
  font-family: 'Raleway', Verdana, sans-serif;
  color: #4c4c4c;
  margin-top: 0;
  margin-bottom: 0.4em;
  font-variant-numeric: lining-nums;
}

svg {
  width: 85vw;
  height: 85vh;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: 40px;
}

.label,
.label2,
.d3-tip,
p,
h1,
h2,
h3,
h4 {
  color: #393939;
  font-family: 'Raleway', Verdana, sans-serif;
}

p {
  font-size: 0.95em;
  font-weight: 300;
  line-height: 1.6em;
  margin-top: 0;
}


h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0.3em;
  color: #4c4c4c;
  font-variant-numeric: lining-nums;
}

.label,
h2 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1em;
  font-variant-numeric: lining-nums;
}

.label2 {
  font-size: 1em;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1em;
  font-variant-numeric: lining-nums;
}

h3 {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.5em;
}

h4 {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1em;
  font-weight: 200;
  margin-bottom: 0.9em;
  margin-top: 0em;
  font-variant: small-caps;
}

.link_header:link {
  text-decoration: none;
  color: #8b675e;
  font-family: 'Raleway', Verdana, sans-serif;
}

.link_header:hover {
  color: #423A35;
  text-decoration: underline;
  font-family: 'Raleway', Verdana, sans-serif;
}

.link_header:visited {
  color: #b26e6e;
  font-family: 'Raleway', Verdana, sans-serif;
}

.d3-tip {
  line-height: 1.4;
  padding: 8px;
  background: hsla(0, 0%, 0%, 0.7);
  color: #fff;
  font-size: 0.75em;
  font-variant-numeric: lining-nums;
}

  @-webkit-keyframes bounceIn {
  0% {
  opacity: 0;
  -webkit-transform: scale(.3);
  }
  /*50% {
  opacity: 1;
  -webkit-transform: scale(1.05);
  }
  70% {
  -webkit-transform: scale(.9);
  }*/
  100% {
  -webkit-transform: scale(1);
  }
  }
@keyframes bounceIn {
  0% {
  opacity: 0;
  transform: scale(.3);
  }
  /*50% {
  opacity: 1;
  transform: scale(1.05);
  }
  70% {
  transform: scale(.9);
  }*/
  100% {
  transform: scale(1);
  }
  }

.d3-tip.animate {
  animation: bounceIn 0.2s ease-out;
  -webkit-animation: bounceIn 0.2s ease-out;
}
